* {
  font-family: "Patrick Hand";
}
body {
  padding: 8px;
  background-color: lightgray;
}

.page-info {
  display: grid;
  grid-template-columns: repeat(1fr, minmax(150px, 500px));
  justify-content: space-evenly;
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px silver;
  margin: 5px;
  transition: transform 1s;
}
.card:hover {
  transform: scale(1.1);
}
.card > .card-body > h4 {
  color: tomato;
}
#cardName {
  background-color: tomato;
}
img {
  /* width: 100%; */
  height: auto;
}

.btn-primary {
  background-color: tomato;
  border-color: tomato;
}
.btn-primary:hover {
  background-color: rgb(226, 64, 36);
  border-color: rgb(226, 64, 36);
  /* border-width: 4px; */
}
