* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body > .container {
  height: 95%;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
  margin: 20px auto;
  color: #f05f44;
  border: 3px solid #f05f44;
  max-width: 65px;
  opacity: 1;
}

.header {
  vertical-align: bottom;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: tomato;
  border-color: tomato;
}
.btn-primary:hover {
  background-color: rgb(226, 64, 36);
  border-color: rgb(226, 64, 36);
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.buffer {
  height: 10rem;
}

.footer {
  color: whitesmoke;
  background-color: black;
}
